body {
    text-align: center;
    font-family: "Arial";
    margin:0;
    padding: 0;
    background-color: rgb(67, 70, 70);
}

#container {
    color: grey;
    text-align: center;
    border: 2px solid grey;
    margin: 20px;
    padding: 20px;
}